.activity-container  {
    padding: 0px 18px 0px;
}

.activity-feed ul {
    list-style: none;
}

.activity-feed__call-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px #ddd solid;
    align-items: center;
}

.activity-feed__call-details a {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
}

.activity-feed__phone {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.activity-feed__phone span {
    margin-top: 0.25rem;
    font-size: 0.75rem;
}

.activity-feed__phone-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 auto;
}
.activity-feed__phone-icon img,
.activity-feed__phone-icon svg {
    width: 100%;
    height: 100%;
}

.activity-feed__from{
    width: 50%;
}

.activity-feed__date {
    width: 30%;
}

button.activity-feed__button {
    border: none;
    padding: 0;
    cursor: pointer;
}

button.activity-feed__button:hover,
button.activity-feed__button:focus {
    background: none;
}