.activity-container  {
    padding: 0px 18px 0px;
}

.activity-feed ul {
    list-style: none;
}

.activity-feed__call-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px #ddd solid;
    align-items: center;
}

.activity-feed__call-details a {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
}

.activity-feed__phone {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.activity-feed__phone span {
    margin-top: 0.25rem;
    font-size: 0.75rem;
}

.activity-feed__phone-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 auto;
}
.activity-feed__phone-icon img,
.activity-feed__phone-icon svg {
    width: 100%;
    height: 100%;
}

.activity-feed__from{
    width: 50%;
}

.activity-feed__date {
    width: 30%;
}

button.activity-feed__button {
    border: none;
    padding: 0;
    cursor: pointer;
}

button.activity-feed__button:hover,
button.activity-feed__button:focus {
    background: none;
}

.activity-detail__hero h1 {
    margin-top: 0.875rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 6000;
}

.activity-detail__hero img {
    width: 100%;
    max-width: 50%;
    margin: 10px auto 5px;
    display: block;
}

.activity-detail__details {
    border-radius: 1.25rem;
    background-color: rgba(94,94,94,0.2);
    padding: 10px 1.25rem;
    margin: 1.25rem 0;
}

.activity-detail__actions {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}

.activity-detail__action {
    border-radius: 1.25rem;
    background-color: rgba(94, 94, 94, 0.2);
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    border: none;
    gap: 0.313rem;
    align-items: center;
    font-size: 1rem;
}

button.activity-detail__action{
    padding: 24.5px 1.25rem;
}

.activity-detail__call-answer {
    display: flex;
    gap: 9px;
}

.activity-detail__call-answer span{
    display: block;
    margin-top: 0.313rem;
}