html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

html{
  font-size: 16px;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1;
}

main#content {
  position: relative;
    overflow-y: scroll;
    height: 62vh;
}

.button {
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 16px;
  font-size: 1rem;
  padding: 5px 17px;
  cursor: pointer;
  font-weight: 500;
  margin: 10px auto 0;
  display: block;
}

.button:hover,
.button:focus {
  background-color: #9B1A9D;
  color: white;
  text-decoration: underline;
}